html {
  scroll-behavior: smooth;
}

/**-------------------- Styling for 4k screens --------------------*/

body {
  margin: 0%;
  background-color: #161614;
  display: flex;
  justify-content: space-between;
}

::selection {
  background-color: #ffc75f;
  color: black;
}

/* Navbar styling starts here */
#navbar {
  width: 23%;
  height: 100vh;
  background-color: #232321;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#navbar > img {
  border-radius: 1000px;
  width: 200px;
  margin-top: 40px;
  margin-bottom: 10px;
  border: 8px solid #ffc75f;
}

#hContainer {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hContainer > #navName {
  color: white;
  font-size: xx-large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 0%;
  letter-spacing: 0.5px;
  font-weight: 700;
}

#hContainer > #navPost {
  color: rgb(224, 224, 224);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 0%;
  letter-spacing: 1px;
  font-weight: 700;
}

#navbar > a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 300px;
  height: 50px;
  margin-bottom: 20px;
  border: none;
  border-radius: 50px;
  font-size: larger;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 1px;
  background-color: #444444;
  color: white;
}

#navbar > a:hover {
  background-color: #ffc75f;
  color: black;
  transition: 0.4s;
  -webkit-box-shadow: 0px 0px 15px 3px rgba(255, 255, 255, 0.21);
  -moz-box-shadow: 0px 0px 15px 3px rgba(255, 255, 255, 0.21);
  box-shadow: 0px 0px 15px 3px rgba(255, 255, 255, 0.21);
}

/* Home Page styling starts here */
#containerMain {
  width: 77%;
  height: auto;
  margin-left: auto;
}

#homeSec {
  height: 99.6vh;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

#homeSec ::selection {
  background-color: #ae7cff;
  color: black;
}

#homeHI {
  width: fit-content;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 33px;
  color: white;
  font-weight: 400;
  margin-right: auto;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #ae7cff;
}

#homeName {
  width: fit-content;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 65px;
  color: white;
  font-weight: 600;
  margin-right: auto;
  margin-top: 0%;
  margin-bottom: 10px;
}

#homeNameSpan {
  color: #ae7cff;
}

#homeSec > p {
  font-size: x-large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  margin-right: auto;
  margin-top: 0;
  color: white;
  margin-bottom: 0;
}

#homeMeAbtBtn {
  width: 120px;
  height: max-content;
  border-radius: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-right: auto;
  margin-top: 15px;
  background-color: #444444;
}

#homeMeAbtBtn > img::selection {
  background-color: #ae7cff;
  color: black;
}

#homeMeAbtBtn:hover {
  background-color: #ae7cff;
  transition: 0.4s;
  box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.21);
}

#homeMeAbtBtn > img {
  width: 30%;
}

#homeMeAbtBtn > a {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
}

#homeMeAbtBtn:hover > a {
  color: black;
  transition: 0.4s;
}

/* Home Page styling ends here */
/*! ----------------------------------------------------------------------------------------------------------------------------------- */
/* About Page styling starts here */
#aboutSec {
  height: 99.6vh;
  width: 99%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

#aboutSec ::selection {
  background-color: #ff9671;
  color: rgb(0, 0, 0);
}

#aboutSec > h2 {
  width: 90%;
  color: white;
  font-size: 45px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: auto;
  letter-spacing: 2px;
  font-weight: 700;
  border-bottom: 3px solid #444444;
  display: flex;
  align-items: center;
  justify-content: center;
}

#aboutHeadingSpan {
  color: #ff9671;
  margin-right: 10px;
}

#containsInfo {
  margin-top: 0px;
  height: max-content;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 130px;
}

#infoInPoints {
  height: 300px;
  width: 500px;
  margin-bottom: auto;
}

#infoInBoxes {
  height: fit-content;
  width: fit-content;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutPoints {
  width: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  font-size: 28px;
  color: white;
}

.apSpan {
  color: #ff9671;
  margin-left: 7px;
}

.aboutBoxes {
  width: 180px;
  background-color: #444444;
  height: 180px;
  border-radius: 10px;
}

.abBoxes {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.boxPara {
  margin-top: 5px;
  font-weight: 700;
  font-size: x-large;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  margin-bottom: 0;
  letter-spacing: 1px;
}

.boxPara2 {
  margin-top: 0;
  font-weight: 700;
  font-size: x-large;
  width: min-content;
  margin-left: auto;
  margin-right: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  letter-spacing: 1px;
}

.paraAwards {
  width: max-content;
  margin-top: 10px;
}

.aboutBoxes > span {
  font-size: 50px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #ff9671;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  -webkit-transition: -webkit-transform 0.5s;
}

.aboutBoxes:hover > span {
  transform: scale(120%);
  transition: 0.5s;
}

/* About Page styling ends here */
/*! ------------------------------------------------------------------------------------------------------------------------------------- */
/*Services page styling starts here*/
#serviceSec {
  width: 90%;
  height: 400px;
  background-color: #444444;
  margin-bottom: 50px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  scroll-margin-top: 30px;
}

#serviceSec ::selection {
  background-color: #00c9a7;
  color: rgb(0, 0, 0);
}

#serviceSec > h2 {
  width: 90%;
  height: 70px;
  color: white;
  font-size: 45px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 20px;
  margin-bottom: auto;
  letter-spacing: 2px;
  font-weight: 700;
  border-bottom: 3px solid #666666;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}

#serviceH2Span {
  color: #00c9a7;
  margin-right: 10px;
  margin-left: 5px;
}

#services {
  width: 90%;
  height: 280px;
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
}

.serviceBox {
  width: 32%;
  height: 95%;
  background-color: black;
  border-radius: 15px;
  -webkit-transition: -webkit-transform 0.5s;
  overflow: hidden;
}

.serviceBox > img {
  width: 100%;
  height: 100%;
}
/*Services page styling ends here*/

/* Portfolio section styling starts here */
#portfolioSec {
  height: 99.6vh;
  width: 99%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

#portfolioSec ::selection {
  background-color: #d65db1;
  color: rgb(0, 0, 0);
}

#portfolioSec > h3 {
  width: fit-content;
  height: fit-content;
  font-weight: 700;
  font-size: larger;
  letter-spacing: 1px;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #666666;
}

#portfolioSec > h2 {
  width: 90%;
  color: white;
  font-size: 45px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: auto;
  letter-spacing: 2px;
  font-weight: 700;
  border-bottom: 3px solid #444444;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}

#portHeadSpan {
  color: #d65db1;
  margin-left: 5px;
}

/* Portfolio section styling ends here */
